@font-face {
    font-family: "Saol Display Regular";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/saol.eot");
    src: url("../fonts/saol.eot?#iefix") format("embedded-opentype"),
      url("../fonts/saol.woff2") format("woff2"),
      url("../fonts/saol.woff") format("woff"),
      url("../fonts/saol.ttf") format("truetype");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Chosunilbo_myungjo";
    src: url("../fonts/Chosunilbo_myungjo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "S-CoreDream-1Thin";
    src: url("../fonts/S-CoreDream-1Thin.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "S-CoreDream-2ExtraLight";
    src: url("../fonts/S-CoreDream-2ExtraLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "S-CoreDream-3Light";
    src: url("../fonts/S-CoreDream-3Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "S-CoreDream-4Regular";
    src: url("../fonts/S-CoreDream-4Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "S-CoreDream-5Medium";
    src: url("../fonts/S-CoreDream-5Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "S-CoreDream-6Bold";
    src: url("../fonts/S-CoreDream-6Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "S-CoreDream-7ExtraBold";
    src: url("../fonts/S-CoreDream-7ExtraBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "S-CoreDream-8Heavy";
    src: url("../fonts/S-CoreDream-8Heavy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "S-CoreDream-9Black";
    src: url("../fonts/S-CoreDream-9Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  